.container {
    display: flex;
    background-color: #91b493;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

#countdown-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #countdown-form label {
    display: block;
  }
  
  #countdown-timer {
    font-size: 2rem;
    font-weight: bold;
  }

  #pause-countdown {
    display: none;
  }
  
  #reset-countdown {
    display: none;
  }

  #countdown-timer {
    display: none;
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
    font-family: monospace;
  }
  
  #timer-clock {
    display: inline-block;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
  }
  
  #timer-clock span {
    color: #bd3636;
  }
  
  #timer-clock span:not(:last-child)::after {
    content: ":";
  }
  
  #message {
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
    font-family: monospace;
  }